<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<header>
    <h1 class="textoArriba">
        Diseño<span class="multimediaAzu"> Multimedia</span>
    </h1> 
    <nav class="navegacion">
        <a href="../inicio.html">INICIO</a>
        <a href="nosotros.html">NOSOTROS</a>
        <a href="servicios.html">SERVICIOS</a>
        <a class="azul" href="contacto.html">CONTACTO</a>
    </nav>
</header>
<body>
    <hr>
    <section class="registro">
        <p class="subs">
            Subscríbete a nuestro boletín
        </p>
        <div>
        <input class="input" type="text" id="surname" placeholder="Ingrese su email">
        <button class="button">Subscribete</button>
        </div>
    </section>

    <section class="section1Contactos">
       
        <div class="formularioContacto">

            <div>
                <h3 class="h3contactos"> Contacto </h3>
            </div>
            
            <form>
                    <label for="nombre">Nombre:</label> <br>
                    <input class="espaciosForfumulario" type="text" required placeholder="Ingresa tu nombre"><br> 

                    <label for="nombre">Email:</label><br>
                    <input class="espaciosForfumulario" type="text" required placeholder="Ingresa tu email"><br>

                    <label for="nombre">Teléfono:</label><br>
                    <input class="espaciosForfumulario" type="tel" required placeholder="Ingresa tu teléfono"><br>

                    <label for="nombre">Celular:</label><br>
                    <input class="espaciosForfumulario" type="tel" required placeholder="Ingresa tu celular"><br>

                    <label class for="nombre">Mensaje:</label><br>
                    <input class="espaciosForfumularioMen" type="text" placeholder=""><br>

                    <button class="buttonContacto"> Enviar </button>
            </form>
        </div>

        <aside>
            <div class="contactoHacemos">
                <h4 class="nosotrosH4">
                    QUE HACEMOS
                </h4>
                <p class="parrafoNosotros3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus hic, minus omnis et nam magni blanditiis vitae cumque suscipit? Ducimus voluptate perferendis consequatur amet, nam sit. Ab, reiciendis voluptates.</p>
            </div>
            <img src="../assets/images/mapaGoogle.png" alt="">
        </aside> 
    </section>

    <footer>
        <h6>grahel desarrollo web, copyright &copy; 2025</h6>
    </footer>

</body>