<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<header>
    <h1 class="textoArriba">
        Diseño<span class="multimediaAzu"> Multimedia</span>
    </h1> 
    <nav class="navegacion">
        <a href="../inicio.html">INICIO</a>
        <a class="azul" href="nosotros.html">NOSOTROS</a>
        <a href="servicios.html">SERVICIOS</a>
        <a href="contacto.html">CONTACTO</a>
    </nav>
</header>
<body>
    <hr>
    <section class="registro">
        <p class="subs">
            Subscríbete a nuestro boletín
        </p>
        <div>
        <input class="input" type="text" id="surname" placeholder="Ingrese su email">
        <button class="button">Subscribete</button>
        </div>
    </section>
    <section class="nosotrosMain">
        <div class="nosotrosIzq">
        <h3 class="nosotrosH3">
            NOSOTROS
        </h3>
        <p class="parrafoNosotros">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui excepturi ducimus, reprehenderit eaque quaerat id consequuntur tempora! Repellendus distinctio, voluptatem maxime itaque, tempore, porro adipisci ex consequuntur soluta animi odit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni totam hic alias, cupiditate molestiae excepturi est fugiat explicabo, at reprehenderit asperiores dolorum, amet voluptatem! Labore incidunt consequuntur voluptates sequi vitae.
        </p>
        <div class="fondoNosotros">
        <p class="parrafoNosotros2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur quos maxime saepe dicta quam temporibus, quisquam pariatur, sapiente odit corrupti dolore reprehenderit. Fugiat natus quaerat animi amet accusantium praesentium qui. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque dolore minus recusandae, officia asperiores fugit dicta exercitationem architecto voluptates ad ducimus quod perspiciatis quo obcaecati, corporis laboriosam officiis maxime quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum inventore totam adipisci mollitia tempore dolores, placeat unde minus velit, debitis saepe. Quo, quae iure quisquam veniam temporibus delectus pariatur enim.</p>
    </div>
        <div class="nosotrosImg">
            <img src="../assets/images/891.jpg" alt="">
        </div>
    </div>
    <div class="nosotrosDere">
        <div class="fondoHacemos">
        <h4 class="nosotrosH4">
            QUE HACEMOS
        </h4>
        <P class="parrafoNosotros3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore minus adipisci eveniet saepe ab corrupti dolor eos facere sunt officia cupiditate quod aliquam iusto, nobis tempore perspiciatis voluptatibus libero perferendis?
        </P>
    </div>
    </div>
    </section>
</body>
<footer>
    <h6>grahel desarrollo web, copyright &copy; 2025</h6>
</footer>
</html>