<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<header>
    <h1 class="textoArriba">
        Diseño<span class="multimediaAzu"> Multimedia</span>
    </h1> 
    <nav class="navegacion">
        <a href="../inicio.html">INICIO</a>
        <a href="nosotros.html">NOSOTROS</a>
        <a class="azul" href="servicios.html">SERVICIOS</a>
        <a href="contacto.html">CONTACTO</a>
    </nav>
</header>
<body>
    <hr>
    <section class="registro">
        <p class="subs">
            Subscríbete a nuestro boletín
        </p>
        <div>
        <input class="input" type="text" id="surname" placeholder="Ingrese su email">
        <button class="button">Subscribete</button>
        </div>
    </section>
    <section class="nosotrosMain">
        <div class="nosotrosIzq">
            <h2 class="serviciosH2">
                Servicios
            </h2>
        <div class="cajaServicios">
            <h3 class="diseñoH3">
                Diseño Web
            </h3>
            <p class="parrafoWeb">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestias distinctio expedita soluta cupiditate, nesciunt in. Voluptates, similique cupiditate id assumenda maxime necessitatibus sunt velit obcaecati reprehenderit labore facere fugiat.</p>
            <p class="precio">Precio: $300000 - 1000000</p>
            </div>
            <div class="cajaServicios">
            <h3 class="diseñoH3">
                Desarrollo Web
            </h3>
            <p class="parrafoWeb">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestias distinctio expedita soluta cupiditate, nesciunt in. Voluptates, similique cupiditate id assumenda maxime necessitatibus sunt velit obcaecati reprehenderit labore facere fugiat.</p>
            <p class="precio">Precio desde: $1000000
            </p>
            </div>
            <div class="cajaServicios">
            <h3 class="diseñoH3">
                Hosting Web
            </h3>
            <p class="parrafoWeb">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestias distinctio expedita soluta cupiditate, nesciunt in. Voluptates, similique cupiditate id assumenda maxime necessitatibus sunt velit obcaecati reprehenderit labore facere fugiat.</p>
            <p class="precio">Precio: $300000</p>
        </div>
        </div>
    <div class="nosotrosDere">
        <div class="fondoHacemos">
        <h4 class="nosotrosH4">
            QUE HACEMOS
        </h4>
        <P class="parrafoNosotros3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore minus adipisci eveniet saepe ab corrupti dolor eos facere sunt officia cupiditate quod aliquam iusto, nobis tempore perspiciatis voluptatibus libero perferendis?
        </P>
    </div>
    </div>
    </section>
</body>
<footer>
    <h6>grahel desarrollo web, copyright &copy; 2025</h6>
</footer>
</html>